<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>频繁出现</title>
<link type="text/css" rel="stylesheet" href="/ui/plugins/font-images/font.css" />
<link type="text/css" rel="stylesheet" href="/ui/plugins/bootstrap4.0/css/bootstrap.css" />
<link type="text/css" rel="stylesheet" href="/efacecloud/css/common.css" />
<link type="text/css" rel="stylesheet" href="/efacecloud/css/technicalStation/form.css" />
</head>
<style>.position-top .dropdown-tree-area{top: 32px; }</style>
<body class="full-screen bgWhite" menuId="personTechnicalStation-personFrequentPast">
<div class="page-list-head">
	<a id="backBtn" class="back-btn">
		<i class="icon-arrow-left10"></i>
		<em>返回</em>
	</a>
	<span>频繁出现</span>
</div>
<div class="form-con form-inline form-silde pt20">
 	<!-- <ul id="warningTabMenuList" class="nav nav-tab-style1 mt30">
	   <li class="hand active"><a ref="#frequentAccess"><span class="icon-brush001"></span> 频繁出入</a></li>
	   <li class="hand"><a ref="#alarmSetting"><span class="icon-bell2"></span> 预警设置</a></li>
	</ul> -->
	<div class="tab-content">
		<div id="frequentAccess" class="tab-pane active">
		    <dl class="sort-cell clearfix">
				<dd class="form-group time-wrap time-style-1 mb15 mt10">
				 	<div class="begin-time clearfix">
				 		<label class="control-label fl tl mr0 mt5" >时间范围：</label>
						<div class="time-box ml0">
							<label>从</label>
							<input class="form-control" id="beginTime" name="beginTime" ui-validate="{pattern:'required'}" type="text" ui-validate="{pattern:'required'}" ui-vtext="开始时间" readonly="readonly"/>
						</div>
						<span class="red">*</span>
				 	</div>
					<div class="end-time mt10 clearfix">
						<label class="control-label fl tl mr0 mt5"></label>
						<div class="time-box ml0">      
							<label>到</label>
							<input class="form-control" id="endTime" name="endTime" ui-validate="{pattern:'required'}" type="text" ui-validate="{pattern:'required'}" ui-vtext="结束时间" readonly="readonly"/>
						</div> 
						<span class="red">*</span>
					</div>	
				</dd>
				 <dd class="form-group form-group-block">
					<label class="control-label">选择区域：</label>
					<ul class="map-icon-list clearfix" layerName="L_CAMERA_FACE">
						<li title="直线框选"><i map="mapBtn" class="map-icon map-icon-line icon-statistics" name="polyline"></i></li>
						<li title="多边形框选"><i map="mapBtn" class="map-icon map-icon-area icon-select001" name="polygon"></i></li>
						<li title="圆形框选"><i map="mapBtn" class="map-icon map-icon-area icon-select002" name="circle"></i></li>
						<li title="矩形框选"><i map="mapBtn" class="map-icon map-icon-area icon-select003" name="rect"></i></li>
						<!-- <li title="自定义选择"><i map="mapBtn" togglebtn="kktree" class="map-icon map-icon-area icon-list22" name="showKKTree"></i></li> -->
						<li title="清除框选"><i map="mapBtn" class="map-icon map-icon-area icon-trash" name="delete"></i></li>
					</ul>
					<span class="red">*</span>
					<div class="table-wrap hide">
						<table class="table" cellspacing="0" cellpadding="0">  
							<tbody id="bayonetList">
							</tbody>                                                                                            
			        	</table>
						<input type="hidden" id="selectedBayonet" ui-validate="required" name="CAMERA_IDS" ui-vtext="选择区域">
					</div>
				</dd>
				<dd class="form-group form-group-block">
					<label class="control-label">感知设备：</label>
					<div class="dropdown-list device-select">
									<div class="dropdown-list-text">
										<span class="list-title" id="deviceNames"></span> 
										<input type="hidden" id="faceDetect"> 
										<input type="hidden"id="deviceIdInt"> 
										<a class="dropdown hide"> 
											<i class="icon-arrow-down8"></i>
										</a>
									</div>
									<div class="dropdown-menu">
										<ul class="list-con" id="deviceNameList">
										</ul>
									</div>
					</div>
				</dd>
				<dd class="form-group form-group-block">
					<label class="control-label">检索阈值：</label>
					<div id="sliderThreshold" style="width:197px;display:inline-block;"></div>
					<input class="form-control ml20 tc" style="width:30px; padding:2px" id="THRESHOLD" name="THRESHOLD" maxlength=" " ui-validate="{pattern:'required,integer',max:100,min:1}" ui-vtext="检索阈值" value=70><span class="red"> *</span>
				</dd> 
				<dd class="form-group form-group-block">
					<label class="control-label">特征分数：</label>
					<div id="sliderScore" style="width:197px;display:inline-block;"></div>
					<input class="form-control ml20 tc" style="width:30px; padding:2px" id="FACESCORE" name="FACE_SCORE" maxlength=" " ui-validate="{pattern:'required,integer',max:100,min:1}" ui-vtext="特征分数" value=65><span class="red"> *</span>
				</dd>
				<dd class="form-group form-group-block">
					<label class="control-label">出入频次：</label>
					<input class="form-control" id="kks" name="kks" value="2" width="217px;" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"/>
					<span class="red">*</span>
				</dd>
				<dd class="form-group form-group-block hide">
					<label class="control-label">类型选择：</label>
					<label class="radio-inline p0"><input type="radio" name="time" value="allDay" checked="checked">全天</label>				
					<label class="radio-inline p0"><input type="radio" name="time" value="night">晚上</label>	
				</dd>
				<!-- <dd class="form-group form-group-block">
					<label class="control-label">检测方式：</label>
					<ul class="mt5 tags-list" id="DetectionMethod">
						<li class="tags-list-item active" id="">人脸抓拍图片</li>
						<li class="tags-list-item" id="">门禁卡</li>
						<li class="tags-list-item" id="">mac地址</li>
					</ul>
				</dd>
				<dd class="form-group form-group-block">
					<label class="control-label">性别：</label>
					<input class="form-control" id="hphm" name="hphm" value="-">
					<span class="red">*</span>
				</dd>
				<dd class="form-group form-group-block">
					<label class="control-label">民族：</label>
					<input class="form-control" id="hphm" name="hphm" value="-">
					<span class="red">*</span>
				</dd> -->
			</dl>
			<div class="btn-wrap ml10 mr10">
				<button id="searchBtn" class="btn w100 ">查询</button>
			</div>
			
		</div>
		<!-- <div id="alarmSetting" class="tab-pane">
		    <dl class="sort-cell clearfix">
				<dd class="form-group form-group-block mt20">
					<label class="control-label">检测周期：</label>
					<ul class="mt5 tags-list" id="checkCycle">
						<li class="tags-list-item" id="day" onclick="setPeriod(0)">日</li>
						<li class="tags-list-item active" id="week" onclick="setPeriod(1)">周</li>
						<li class="tags-list-item" id="month" onclick="setPeriod(2)">月</li>
					</ul>
				</dd>
				<dd class="form-group form-group-block">
					<label class="control-label">检测时间：</label>
					<input id="dackDated" class="form-control bg-calendar-icon" type="text" readonly="readonly">
					<input type="hidden" id="detectionTime" name="detectionTime" value="2016-01-29 21:39:13">
				</dd>
				<dd class="form-group form-group-block">
					<label class="control-label w35">出入频次>=：</label>
					<input class="form-control" value="2" id="repeats" style="width: 220px;" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
		            <span class="red">*</span>
				</dd>
				<dd class="form-group form-group-block">
					<label class="control-label">选择区域：</label>
					<ul class="map-icon-list clearfix" index="2">
						<li><i map="mapBtn" class="map-icon map-icon-point icon-left-up001" name="mappoint"></i></li>
						<li><i map="mapBtn" class="map-icon map-icon-line icon-statistics" name="polyline"></i></li>
						<li><i map="mapBtn" class="map-icon map-icon-area icon-select001" name="polygon"></i></li>
						<li><i map="mapBtn" class="map-icon map-icon-area icon-select002" name="circle"></i></li>
						<li><i map="mapBtn" class="map-icon map-icon-area icon-select003" name="extent"></i></li>
						<li><i map="mapBtn" togglebtn="kktree2" class="map-icon map-icon-area icon-list22" name="showKKTree"></i></li>
						<li><i map="mapBtn" class="map-icon map-icon-area icon-trash" name="delete"></i></li>
						<span class="red">*</span>
					</ul>
				</dd>
				<dd class="form-group form-group-block hide" togglekk="kktree2">
					<label class="control-label">通过卡口：</label>
					<div class="form-control ov p0" id="kkbhTree_2" name="kkbhTree" type="dropdown-tree" ui-control="dropdowntree" ui-service="cs/gate/getTree" ui-options="dropdownOptions"></div>
					<input id="kkbh_2" name="kkbh" type="hidden"/>
				</dd>
			</dl>
			<div class="btn-wrap ml10 mr10">
				<button id="confirmBtn" class="btn w100 ">确定</button>
			</div>
		</div> -->
	</div>
</div>

<div class="frame-form-full l0" style="display: none;">
	<iframe class="frame-form" id="frameFormFull" frameborder="0"></iframe>
</div>	

<script id="bayonetListTemp" type="text/x-tmpl">					
	{% for(var i=0; i<o.length; i++) { %} 
	<tr deviceId="{%=o[i].DEVICE_ID%}" deviceName="{%=o[i].DEVICE_NAME%}" >
		<td class="w5 tc"><span class="circle"></span></td>                                           
                 <td class="w70"><span title="">{%=o[i].DEVICE_NAME%}</span></td>	                	                                                   
		<td class="tc w15">
			<ul class="btn-group-icons list-inline">
			    <li class="delete"><span title="删除" class="delete-bayonet-item icon-cross2"></span></li>
			</ul>
		</td>
	</tr>
	{% } %}
	</script>
<script id="deviceNameListTemp" type="text/x-tmpl">					
	{% for(var i=0; i<o.length; i++) { %} 
	<li>
		<a>
		<span class="deviceName">{%=o[i].DEVICE_NAME%}</span>
		<span class="removeDeviceBtn operate-btn" deviceid="{%=o[i].DEVICE_ID%}">×</span>
		</a>
	</li>
	{% } %}
	</script>

<script type="text/javascript" src="/ui/plugins/jquery.min.js"></script>
<script type="text/javascript" src="/ui/plugins/eapui/eapui.js"></script>
<script type="text/javascript" src="/ui/plugins/bootstrap3.3/js/bootstrap.js"></script>
<script type="text/javascript" src="/ui/plugins/datetimepicker/WdatePicker.js"></script>
<script type="text/javascript" src="/ui/plugins/eapui/util/StringUtil.js"></script>
<script type="text/javascript" src="/efacecloud/js/common.js"></script>
<script type="text/javascript" src="/efacecloud/js/technicalStation/tacticsCommon.js"></script>
<script type="text/javascript" src="/efacecloud/js/technicalStation/personfrequentAccessForm.js"></script>
</body>
</html>