<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>身份核查</title>
    <link rel="stylesheet" type="text/css" href="/ui/plugins/font-images/font.css" />
    <link rel="stylesheet" type="text/css" href="/ui/plugins/bootstrap4.0/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/efacecloud/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/efacecloud/css/technicalStation/verification.css" />
</head>
<body style="background-color: #fff">
<div class="pager-wrap" container="" id="dispatchedApprovalList" ui-options="{usePage:false}">
    <div class="pager-content pt0">
        <div class="page-title">
            <a id="backBtn" class="back-btn">
                <i class="icon-arrow-left10"></i>
                <em>返回</em>
            </a>
            <span></span>
        </div>
        <div class="top-box">
            <div class="img-wraper " id="picCenter">
                <div class="scroll-info">
                    <div class="scrollTop"></div>

                    <div class="scroll-wraper " id="uploadDiv">
                          <ul class=" update-file photo-scroll pl50 img-list clearfix pl0 " id="imgBox">
                              <li class="btn-group file-upload-btn clearfix" id="fileUpload">
                                  <img  src="/efacecloud/images/noPhoto2.png" foruploadimg="uploadFile">
                                  <input class="file-style searchImgButton" type="file" id="uploadFile" name="uploadFile" multiple="">
                              </li>
                          </ul>
                    </div>
                </div>
                <span class="slider-btn slider-btn-prev hide" id="silderPrev">
                	<i class="icon-arrow-left10"></i>
                </span>
                <span class="slider-btn slider-btn-next hide" id="silderNext">
                	<i class="icon-uniE91A"></i>
                </span>
            </div>

            <div class="filter-view algoView">
                <dl class="filter-bar time-bar hide" id="sfWrap">
                    <dt class="filter-arrt">算法：</dt>
                    <dd class="filter-tag">
                        <ul class="tagslist age-group" id="sfList" ui-control="uitags"></ul>
                        <input type="text" hidden id="sfVal">
                    </dd>
                </dl>
                <dl class="filter-bar faceLibrary hide">
                    <dt class="filter-arrt">人脸库：</dt>
                    <dd class="filter-tag pt3" id="domicile">
                        <div class="tree-wrap dropdown">
                            <div class="modular-head dropdown-toggle" data-toggle="dropdown">
                                <span class="selectedDb">请选择 </span>
                                <input type="hidden" id="registerDb" value="">
                                <span class="icon-arrow-down8 tc" style="width:25px;"></span>
                            </div>
                            <div class="dropdown-menu">
                                <div class="db-list">
                                    <div class="tab-pane active">
                                        <dl class="attr-list">

                                            <dd class="attr-list-body" id="faceDb">
                                                <script id="faceDbTmpl" type="x-tmpl">
                                                    <div>
                                                        <button class="btn btn-purple select-all selectAll active">全选</button>
                                                    </div>
                                                    {% for(var i = 0; i < o.length; i++){ %}
                                                        <label DB_ID="{%=o[i].DB_ID %}"  NODE_ID = "{%= o[i].DB_ID %}" title="{%= o[i].DB_NAME %}">{%= o[i].DB_NAME %}</label>
                                                    {% } %}
                                                </script>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="attr-bar"><a class="btn attrSureBtn btn-purple mr10">确定</a><a class="btn btn-white attrCancelBtn">取消</a></div>
                                    <!-- <div class="attr-bar"><a class="btn attrSureBtn btn-purple mr10">确定</a><a class="btn btn-white attrCancelBtn">取消</a></div> -->
                                </div>
                            </div>
                        </div>
                        <!-- <script id="faceDbTmpl" type="x-tmpl">
                        <div>
                            <button class="btn btn-purple select-all selectAll active">全选</button>
                        </div>
						{% for(var i = 0; i< o.length; i++){ %}
							<label ORG_CODE="{%=o[i].DB_ID %}"  NODE_ID = "{%= o[i].DB_ID %}" title="{%= o[i].DB_NAME %}">{%= o[i].DB_NAME %}</label>
						{% } %}
					</script> -->
                    </dd>
                </dl>
                <dl class="pr mb0 clearfix">
                    <ul class="bottom-pic-bar hide clearfix" id="thresholdValidate">
                        <li class="">阈值：<input type="text" value="80" id="threshold" ui-validate="{pattern:'required,integer',max:100,min:0}" ui-vtext="阈值">
                            <span class="prompt_info">&nbsp;&nbsp;（阈值应为0-100的整数）</span>
                        </li>
                        <li class="">检索数量：<input type="text" value="10" id="retrieveNum" ui-validate="{pattern:'required,integer',max:20,min:0}" ui-vtext="检索数量" style="margin-left: 24px;">
                            <span class="prompt_info">&nbsp;&nbsp;（检索数量应为0-20的整数）</span>
                        </li>
                    </ul>
                </dl>
                
                <button class="btn-confirm btn" id="confirmSearch">确认检索</button>
            </div>
        </div>

        <div class="page-info-metro full">
            <div class="action-btn-group hide" style="position: absolute; right: 20px;">
                <span>当天剩余检索次数：<b class="searchNum" style="color: #4C72D5">0</b> 次</span>
            </div>
            
            <ul class="resultTab pl0 mb0" id="resultTab">
            </ul>

            <div class="action-btn-group" style="height: 51px;">
                <!--<span style="display:inline-block;width: 55px;height: 20px;"><input type="checkbox" id="checkAll" listview-checkall="">全选</span>-->
                <!-- <a class="btn btn-i-t" id="freqAnalysisBtn"><span>结果交集</span></a> -->
                <a class="btn btn-i-t hide" id="modifyBtn" disabled>
                    <span>归档</span>
                </a>
                <a class="btn btn-i-t hide" id="newBtn">
                    <span>新建档案</span>
                </a>
                <a class="btn btn-i-t hide" id="confirmBtn" disabled>
                    <span>确认身份</span>
                </a>
            </div>
        </div>
        <!-- 筛选 end -->
        <!-- 页码 -->

        <!-- 页码 end -->
        <div class="library-info clearfix">
            <div class="left-page scroll">
                <div class="title">结果推荐</div>
                <div class="list-node-wrap recom-list" listview-item="3" id="recommend">
                    <div class="nodata"></div>
                </div>
            </div>

            <div class="page-con pl20 " id="tmplContent">
                <div class="nodata"></div>
            </div>
        </div>
    </div>
</div>

<script id="personListTml_local" type="x-tmpl">
    <div class="personList listviewImgBox hide">
        <span class="title">内部检索推荐</span>
        <span class="distinguish"></span>
        <span class="setting-down icon-uniE91A"></span>
        {% for(var i=0;i<o.length;i++){ %}
        <div class="active person-item">
            <span class="title">{%=o[i].ALGORITHM_NAME?o[i].ALGORITHM_NAME:'未知算法'%}</span>
            <span class="num">（{%=o[i].ALGORITHM_LIST.length%}）</span>
            <span class="distinguish"></span>
            <span class="setting-down icon-uniE91A"></span>
            <div class="tilelist vertical">
                {% for(var j=0;j<o[i].ALGORITHM_LIST.length;j++){ %}
                <div class="list-node-wrap" personid="{%= o[i].ALGORITHM_LIST[j].PERSON_ID %}" face-id="{%= o[i].ALGORITHM_LIST[j].FACE_ID %}" rp-id="{%= o[i].ALGORITHM_LIST[j].RPID %}">
                    <dl class="list-node">
                        <dt class="node-img person-img">
                            <span>
                                <img src="{%= o[i].ALGORITHM_LIST[j].PIC %}" class="mb0" attrimg="zoom">
                            </span>
                            <b class="similar {%=renderColor(o[i].ALGORITHM_LIST[j].ALARM_LEVEL)%}" key="similar">{%= o[i].ALGORITHM_LIST[j].SCORE %}%</b>
                        </dt>
                        <dd class="node-text picMessage">
                            <input type="checkbox" listview-check class="checkbox-opacity hide"/>
                            <p class="node-title similar-name" picMsg="姓名:{%=o[i].ALGORITHM_LIST[j].NAME?o[i].ALGORITHM_LIST[j].NAME:'暂无'%}" title="{%=o[i].ALGORITHM_LIST[j].NAME?o[i].ALGORITHM_LIST[j].NAME:'暂无'%}">
                                <span class="orange">
                                    {%=o[i].ALGORITHM_LIST[j].NAME?o[i].ALGORITHM_LIST[j].NAME:'暂无'%}
                                </span>
                            </p>
                            <p class="fl m0" title="{%=o[i].ALGORITHM_LIST[j].REPOSITORY_NAME%}" picMsg="人脸库:{%=o[i].ALGORITHM_LIST[j].REPOSITORY_NAME%}">
                                <span title="人脸库：{%=o[i].ALGORITHM_LIST[j].REPOSITORY_NAME%}">{%=o[i].ALGORITHM_LIST[j].REPOSITORY_NAME%}</span>
                            </p>
                            <p class="fl" title="{%= o[i].ALGORITHM_LIST[j].IDENTITY_ID %}" picMsg="证件号码:{%= o[i].ALGORITHM_LIST[j].IDENTITY_ID %}">
                                <span class="identity-id" title="证件号码：{%= o[i].ALGORITHM_LIST[j].IDENTITY_ID %}">{%= o[i].ALGORITHM_LIST[j].IDENTITY_ID %}</span>
                            </p>
                            <p class="hide" picMsg="相似度:{%= o[i].ALGORITHM_LIST[j].SIMILARITY %}">
                                <span>{%= o[i].ALGORITHM_LIST[j].SIMILARITY %}</span>
                            </p>
                            <div class="btn-group fr">
                                 {% if(UI.control.hasPermission("DEFENCE_WGSBSS") && !isBlack) { %}
                                <span class="icon-paste3 detailIFrame" title="四标四实" data-zjlx="{%=renderIdentityType(o[i].ALGORITHM_LIST[j].IDENTITY_TYPE)%}" data-zjhm="{%=o[i].ALGORITHM_LIST[j].PERSON_ID%}" data-name="{%=o[i].ALGORITHM_LIST[j].NAME?o[i].ALGORITHM_LIST[j].NAME:'暂无'%}"></span>
                                {% } %}
                                <a class="btn-i-t btn-xs lrjs-search" title="路人检索" url="{%= o[i].ALGORITHM_LIST[j].PIC %}">
                                    <i class="btn-icon search-icon"></i>
                                </a>
                                <a class="btn-i-t btn-xs yryd-detail" title="一人一档详情">
                                    <i class="btn-icon yryd-icon"></i>
                                </a>
                                <a class="btn-i-t btn-xs trajectory-search" title="轨迹分析" url="{%= o[i].ALGORITHM_LIST[j].PIC %}">
                                    <i class="btn-icon trajectory-icon"></i>
                                </a>
                            </div>
                        </dd>
                    </dl>
                </div>
                {% } %}
            </div>
        </div>
        {% } %}
    </div>
</script>
<script id="personListTml_3rd" type="x-tmpl">
    <div class="personList listviewImgBox hide">
        {% for(var i=0;i<o.length;i++){ %}
        <div class="active person-item">
            <span class="title">{%=CONSTANTS.SF[o[i].name]?CONSTANTS.SF[o[i].name]:'未知算法'%}</span>
            <span class="num">（{%=o[i].length%}）</span>
            <span class="distinguish"></span>
            <span class="setting-down icon-uniE91A"></span>
            <div class="tilelist vertical">
                {% for(var j=0;j<o[i].data.length;j++){ %}
                <div class="list-node-wrap" personId="{%=o[i].data[j].PERSON_ID%}">
                    <dl class="list-node" name="{%= o[i].data[j].NAME %}" identity-id="{%= o[i].data[j].PERSON_ID %}" identity-type="{%= o[i].data[j].IDENTITY_TYPE %}">
                        <dt class="node-img person-img">
                            <span>
                                <img src="{%=o[i].data[j].IMG_URL%}" class="mb0" attrimg="zoom">
                            </span>
                            <b class="similar {%=renderColor(o[i].data[j].ALARM_LEVEL)%}" key="similar">{%= o[i].data[j].SIMILARITY %}%</b>
                        </dt>
                        <dd class="node-text picMessage">
                            <input type="checkbox" listview-check class="checkbox-opacity hide"/>
                            <p class="node-title similar-name" picMsg="姓名:{%=o[i].data[j].NAME?o[i].data[j].NAME:'暂无'%}" title="{%=o[i].data[j].NAME?o[i].data[j].NAME:'暂无'%}">
                                <span class="orange">
                                    {%=o[i].data[j].NAME?o[i].data[j].NAME:'暂无'%}
                                </span>
                            </p>
                            <p class="m0" title="{%=o[i].data[j].REPOSITORY_NAME%}" picMsg="人脸库:{%=o[i].data[j].REPOSITORY_NAME%}">
                                <span title="人脸库：{%=o[i].data[j].REPOSITORY_NAME%}">{%=o[i].data[j].REPOSITORY_NAME%}</span>
                            </p>
                            <p class="fl" title="{%= o[i].data[j].PERSON_ID %}" picMsg="证件号码:{%= o[i].data[j].PERSON_ID %}">
                                <span title="证件号码：{%= o[i].data[j].PERSON_ID %}">{%= o[i].data[j].PERSON_ID %}</span>
                            </p>
                            <p class="hide" picMsg="相似度:{%= o[i].data[j].SIMILARITY %}">
                                <span>{%= o[i].data[j].SIMILARITY %}</span>
                            </p>
                            <div class="btn-group fr">
                                {% if(UI.control.hasPermission("DEFENCE_WGSBSS") && !isBlack) { %}
                                <span class="icon-paste3 detailIFrame" title="四标四实" data-zjlx="{%=renderIdentityType(o[i].data[j].IDENTITY_TYPE)%}" data-zjhm="{%=o[i].data[j].PERSON_ID%}" data-name="{%=o[i].data[j].NAME%}" hidden></span>
                                {% } %}
                                <a class="btn-i-t btn-xs lrjs-search" title="路人检索" url="{%= o[i].data[j].IMG_URL %}">
                                    <i class="btn-icon search-icon"></i>
                                </a>
                                <a class="btn-i-t btn-xs trajectory-search" title="轨迹分析" url="{%=o[i].data[j].IMG_URL%}">
                                    <i class="btn-icon trajectory-icon"></i>
                                </a>
                                <a class="btn-i-t btn-xs yryd-search privateDetail" title="个人信息" data-zjhm="{%= o[i].data[j].PERSON_ID %}" data-gjdm="{%= o[i].data[j].GJ %}" data-zjzl="{%= o[i].data[j].IDENTITY_TYPE %}" data-url="{%= o[i].data[j].IMG_URL %}">
                                    <i class="btn-icon yryd-icon"></i>
                                </a>
                            </div>
                        </dd>
                    </dl>
                </div>
                {% } %}
            </div>
        </div>
        {% } %}
    </div>
</script>
<script id="recommendTmpl" type="x-tmpl">
    <div class="recommendList">
    {% for(var i=0; i<o.length; i++){ %}
    <p class="serial"><span class="num">{%= i+1 %}</span>第三方结果推荐</p>
    <dl class="list-node">
        <dt class="node-img person-img">
            <span>
                <img src="{%=o[i].IMG_URL%}" attrimg="zoom" class="mb0">
            </span>
        </dt>
        <dd class="node-text">
            <p style="width:106%;" title="{%=o[i].REPOSITORY_NAME%}"><label></label>{%=o[i].REPOSITORY_NAME%}</p>
            <p class="" title="" style="width:106%;" title="{%=o[i].NAME%}"><label>姓名：</label>{%=o[i].NAME%}</p>
            <p class="" title="" style="width:106%;" title="{%=o[i].PERSON_ID%}"><label>证件号码：</label>{%=o[i].PERSON_ID%}</p>
        </dd>
                <!--<button class="btn-confirm btn" infoname="{%=o[i].NAME%}" infoId="{%=o[i].PERSON_ID%}" infoImg="{%=o[i].IMG_URL%}" id="toArchive">存至档案库</button>-->
    </dl>
    {%  }  %}
</div>
</script>

<script id="personListTml_wjr" type="x-tmpl">
    <div class="personList listviewImgBox out-wrap">
         <div class="active person-item">
             <div class="active person-item">
                <span class="title">外部检索推荐</span>
                <span class="num">（{%=o.length%}）</span>
                <span class="distinguish"></span>
                <span class="setting-down icon-uniE91A"></span>
                <div class="tilelist vertical">
                {% if(o.length==0){ %}
                <div class="nodata"></div>
                {% }else{ %}
                {% for(var i = 0;i < o.length; i++){ %}
                    <div class="list-node-wrap">
                        <dl class="list-node compare-pic" name="{%= o[i].NAME %}" identity-id="{%= o[i].PERSON_ID %}" identity-type="{%= o[i].IDENTITY_TYPE %}" pic="{%= o[i].IMG_URL %}" confirm-type="2">
                            <dt class="node-img person-img" attrimg="doublezoom">
                                <span class="hide">
                                    <img src="{%= imgUrl %}">
                                </span>
                                <span>
                                    <img src="{%= renderImg(o[i].IMG_URL) %}">
                                </span>
                                <b class="similar {%=renderColor(o[i].ALARM_LEVEL)%}" key="similar">{%= o[i].SIMILARITY %}%</b>
                            </dt>
                            <dd class="node-text picMessage">
                                <input type="checkbox" listview-check class="checkbox-opacity hide"/>
                                <p class="" title="{%= o[i].PERSON_ID %}" picMsg="证件号码:{%= o[i].PERSON_ID %}">
                                    <span title="证件号码：{%= o[i].PERSON_ID %}">{%= o[i].PERSON_ID %}</span>
                                </p>
                                <p class="node-title similar-name hide" picMsg="姓名:{%=o[i].NAME||'暂无'%}" title="{%=o[i].NAME||'暂无'%}">
                                    <span class="orange">{%=o[i].NAME||'暂无'%}</span>
                                </p>
                                <p class="m0" title="依图档案库" picMsg="人脸库:依图档案库">
                                    <span title="人脸库：依图档案库">依图档案库</span>
                                </p>
                                
                                <p class="hide" picMsg="相似度:{%= o[i].SIMILARITY %}">
                                    <span>{%= o[i].SIMILARITY %}</span>
                                </p>
                                <div class="btn-group fr">
                                    {% if(UI.control.hasPermission("DEFENCE_WGSBSS") && !isBlack) { %}
                                    <span class="icon-paste3 detailIFrame" title="四标四实" data-zjlx="{%=renderIdentityType(o[i].IDENTITY_TYPE)%}" data-zjhm="{%=o[i].IDENTITY_ID%}" data-name="{%=o[i].NAME%}"></span>C %}">
                                    {% } %}
                                    <a class="btn-i-t btn-xs lrjs-search hide" title="路人检索" url="{%= o[i].IMG_URL %}">
                                        <i class="btn-icon search-icon"></i>
                                    </a>
                                    <a class="btn-i-t btn-xs yryd-search privateDetail" title="个人信息" data-zjhm="{%= o[i].PERSON_ID %}" data-gjdm="{%= o[i].GJ %}" data-zjzl="{%= o[i].IDENTITY_TYPE %}" data-url="{%= o[i].IMG_URL %}">
                                        <i class="btn-icon yryd-icon"></i>
                                    </a>
                                    <a class="btn-i-t btn-xs trajectory-search hide" title="轨迹分析" url="{%= o[i].IMG_URL %}">
                                        <i class="btn-icon trajectory-icon"></i>
                                    </a>
                                </div>
                            </dd>
                        </dl>
                </div>
                {% } %}
                {% } %}
                </div>
            </div>
        </div>
    </div>
</script>
<script id="recommendTmpl_wjr" type="x-tmpl">
    <div class=" recommendList">
    <p class="serial"><span class="num">1</span>推荐结果</p>
    <dl class="list-node">
        <dt class="node-img person-img">
            <span>
                <img src="{%=renderImg(o.PIC || o.IMG_URL)%}" attrimg="zoom" class="mb0">
            </span>
        </dt>
        <dd class="node-text">
            <p style="width:106%;" title="{%=o.REPOSITORY_NAME%}"><label></label>{%= o.REPOSITORY_NAME %}</p>
            <p class="" title="" style="width:106%;" title="{%= o.NAME %}"><label>姓名：</label>{%= o.NAME %}</p>
            <p class="" title="" style="width:106%;" title="{%= o.IDENTITY_ID || o.PERSON_ID %}"><label>证件号码：</label>{%= renderNullToNotKnow(o.IDENTITY_ID || o.PERSON_ID) %}</p>
        </dd>
                <!--<button class="btn-confirm btn" infoname="{%= o.NAME %}" infoId="{%= o.PERSON_ID %}" infoImg="{%= o.IMG_URL %}" id="toArchive">存至档案库</button>-->
    </dl>
</div>
</script>

<div class="frame-form-full">
    <iframe class="full-screen" id="frameFormFull" frameborder="0"></iframe>
</div>
</body>
<script type="text/javascript" src="/ui/plugins/jquery.min.js"></script>
<script type="text/javascript" src="/ui/plugins/eapui/eapui.js"></script>
<script type="text/javascript" src="/ui/plugins/ajaxfileupload.js"></script>
<script type="text/javascript" src="/ui/plugins/bootstrap3.3/js/bootstrap.js"></script>
<script type="text/javascript" src="/ui/plugins/ztree/jquery.ztree.all-3.5.js"></script>
<script type="text/javascript" src="/ui/plugins/datetimepicker/WdatePicker.js"></script>
<script type="text/javascript" src="/ui/plugins/plupload/js/moxie.js"></script>
<script type="text/javascript" src="/ui/plugins/simpleupload/js/underscore.min.js"></script>
<script type="text/javascript" src="/efacecloud/js/common.js"></script>
<script type="text/javascript" src="/efacecloud/js/technicalStation/verification.js"></script>
<script type="text/javascript" src="/efacecloud/js/common/imgScroll.js"></script>
</html>
