<!DOCTYPE html>
<html lang="en" class="full-screen">
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>人脸N:N结果</title> 
<link rel="stylesheet" type="text/css" href="/ui/plugins/font-images/font.css"/>
<link rel="stylesheet" type="text/css" href="/ui/plugins/bootstrap4.0/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/efacecloud/css/common.css" />
<link rel="stylesheet" type="text/css" href="/efacecloud/css/faceCaptureN2N.css" />
</head>
<body>
	<div class="page-top">
		<div>
			<span><a id="backBtn">返回</a></span>
			<span>人脸频次分析结果</span>
		</div>
	</div>
	<div id="dataList" class="pager-content listviewImgBox">
		<div class="tilelist vertical ver-caselist capture-data">
			<div class="filter-view">
				<dl class="filter-bar">
					<dt class="filter-arrt">频次分析：</dt>
					<dd class="filter-tag w85">
						人脸抓拍库
					</dd>
				</dl>
				<dl class="filter-bar">
					<dt class="filter-arrt">最小出现次数：</dt>
					<dd class="filter-tag w85" id="freqNum"></dd>
				</dl>				
				<dl class="filter-bar">
					<dt class="filter-arrt">检索阈值：</dt>
					<dd class="filter-tag w85" id="threshold"></dd>
				</dl>
				<dl class="filter-bar">
					<dt class="filter-arrt">特征分数：</dt>
					<dd class="filter-tag w85" id="faceScore"></dd>
				</dl>
				<dl class="filter-bar">
					<dt class="filter-arrt">抓拍时间：</dt>
					<dd class="filter-tag pt3">
						<input class="time-control form-control" style="cursor: no-drop;" readonly="readonly" name="beginTime" id="beginTime" type="text">
						<input class="time-control form-control" style="cursor: no-drop;" readonly="readonly" name="beginTime" id="endTime" type="text">
					</dd>
				</dl>
				<dl class="filter-bar">
					<dt class="filter-arrt">抓拍地点：</dt>
					<dd class="filter-tag">
						<div class="form-control dropdown-tree">
							<div class="dropdown-tree-text" style="width:100%">
								<span class="tree-title" id="orgName" style="cursor: no-drop;"></span>
							</div>
						</div>
					</dd>
				</dl>
			</div>
			<div class="page-info-metro square-pager full">
	            <div class="page-data tc fr" listview-page="" id="pageData">
	                <a class="page-prev fl disable" listview-prev-btn="" href="#"><i class="icon-arrow-left7"></i></a>
	                <span class="page-num">共有 <i class="page-num" listview-counts="">3</i>条记录</span>
	                <a class="current-page"><i listview-current="">1</i>/<i listview-total="">1</i></a>
	                <a class="page-next fr disable" listview-next-btn="" href="#"><i class="icon-arrow-right7"></i></a>
	            </div>
	        </div>

			<div class="page-con"></div>
		</div>
		<div class="list-view"></div>
	</div>
    		<script id="testTmpl" type="text/x-tmpl">
			{% for(var i=0; i<o.length; i++){ %}
				<div class="list-node-wrap">
				 	<dl class="list-node" infoId = "{%= o[i].INFO_ID %}" ids="{%=o[i].IDS%}">
						<dt class="node-img person-img">
							<span class="p5">
								<img src="{%= o[i].PIC %}" attrimg="zoom" height="150">
								<em>抓拍图片</em>
							</span>
						</dt>
					  	<dd class="node-text mt10 picMessage">
					   		<p picMsg="时间:{%= o[i].JGSK %}">
								<label>时间：</label>
								<span title="抓拍时间：{%= o[i].JGSK %}" >{%= o[i].JGSK %}</span>
							</p>
					   		<p class="hide" picMsg="人员ID:{%= o[i].INFO_ID %}">
								<label>人员ID：</label>
								<span title="{%= o[i].INFO_ID %}">{%= o[i].INFO_ID %}</span>
							</p>
							<p picMsg="频次:{%= o[i].REPEATS %}">
								<label>频次：</label>
								<span class="red fwb" title="{%= o[i].REPEATS %}" >{%= o[i].REPEATS %}</span>
							</p>
							<p picMsg="特征分值:{%= o[i].FACE_SCORE %}">
								<label>特征分值：</label>
								<span class="red fwb" title="{%= o[i].FACE_SCORE %}" >{%= o[i].FACE_SCORE %}</span>
							</p>
					  	</dd>

						<div class="faceChild">
						
						</div>
					</dl>
				</div>
			{% } %}
			{% if(o.length <=0 ) { %}
				<div class="nodata"></div>
			{%}%}
			
			</script>	
			
			<script id="testChildTmpl" type="text/x-tmpl">
			{% for(var j=0; j<o.length; j++){ %}
			<div class="data-wrap">
				<div class="date-style dis-table-cell">
					{% if(j == 0 || o[j].TIME.substr(0, 10) != o[j-1].TIME.substr(0, 10)) { %}
					<div class="day-block"><b class="f18">{%= o[j].TIME.substr(5,2) %}-{%= o[j].TIME.substr(8,2) %}</b><b class="year">{%= o[j].TIME.substr(0,4) %}</b></div>
					{% } %}
					<div class="timeline">
						<span class="circle-top">
							<img src="/efacecloud/images/icon-circle.png">
						</span>
						<span class="line"></span>
					</div>
				</div>
				<div class="dis-table-cell">
					<p class="specific-time">{%= o[j].TIME.substr(11) %}</p>
					<p class="specific-time">{%= o[j].ADDR %}</p>
					<div class="tilelist vertical">
		      			<dl class="list-node" style="width:150px;height: 140px;">
							<dt class="node-img person-img">
								<span class="p5">
									<img src="{%= o[j].OBJ_PIC %}" attrimg="zoom" class="mb0" height="150px">
									<em class="hide">抓拍图片</em>
								</span>
							</dt>
							<dd class="node-text mt10 hide">
				   				<p><label>抓拍时间：</label><span title="{%= o[j].TIME.substr(11) %}">{%= o[j].TIME.substr(11) %}</span></p>
				  			</dd>
						</dl>
			  		</div>
				</div>
			</div>
			{% } %}
			</script>		
</body>
<script type="text/javascript" src="/ui/plugins/jquery.min.js"></script> 
<script type="text/javascript" src="/ui/plugins/eapui/eapui.js"></script>
<script type="text/javascript" src="/efacecloud/js/common.js"></script>
<script type="text/javascript" src="/efacecloud/js/pageCommon.js"></script>
<script type="text/javascript" src="/efacecloud/js/perception/faceCaptureN2N.js"></script>
</html>
