@charset 'utf-8';
body{
	background: #f8f8f8;
}
.window-content{
    top: 10px;
    left: 30px;
    right: 30px;
    width: auto;
    bottom: 60px;
}
.window-bottom{
	border:none;
	background: #f8f8f8;
	text-align:right;
	padding-right:30px;
}
.frame-side{
	width: 55%;
	background: #fff;
	border: 1px solid #dddddd;
	padding: 16px 20px;
}
.frame-con{
	left: 56%;
	padding:10px;
	border: 1px solid #dddddd;
}

.ztree li a.level1{
	/* border-bottom:1px solid #d1d0d6; */
}
.ztree li a:hover {
    background-color: #efefef;
}
.ztree li a.curSelectedNode {
    color: #275db8;
    background-color: #efefef;
}
.menu-search-box input[type="text"] {
    height: 36px;
    padding: 7px 0 6px;
    background: #f5f3f4;
    border-radius: 5px;
    color: #a3a3a3;
}
.menu-search-box input[type="text"]:focus {
    color: #000;
    background: #f5f3f4;
}
.menu-search-box > span{
	height: 100%;
    top: 0;
    width: 36px;
    font-size: 18px;
    line-height: 36px;
    color: #a7a8ad;
}
.search-box > span:active {
    color: #d21406;
    background-color: transparent;
}
.left-tree-wrap{
	top:46px;
}
.ztree.folder li span.button.ico_open,
.ztree.folder li span.button.ico_close,
.ztree li span.button {
    background-image: url(/efacecloud/images/32px.png);
}
.ztree.folder li span.button.ico_open{
	background-position: -409px -119px;
}
.ztree.folder li span.button.ico_close{
	background-position: -373px -118px;
}
.ztree.folder li .curSelectedNode span.button.ico_open{
	background-position: -105px -119px;
}
.ztree.folder li .curSelectedNode span.button.ico_close{
	background-position: -69px -118px;
}

.ztree li span.button.root_open, 
.ztree li span.button.center_open, 
.ztree li span.button.bottom_open{
    background-position: -342px -118px;
}
.ztree li span.button.center_close, 
.ztree li span.button.root_close, 
.ztree li span.button.bottom_close, 
.ztree li span.button.roots_close{
    background-position: -310px -118px;
}

.ztree li .curSelectedNode span.button.root_open, 
.ztree li .curSelectedNode span.button.center_open, 
.ztree li .curSelectedNode span.button.bottom_open{
    background-position: -38px -118px;
}
.ztree li .curSelectedNode span.button.center_close, 
.ztree li .curSelectedNode span.button.root_close, 
.ztree li .curSelectedNode span.button.bottom_close, 
.ztree li .curSelectedNode span.button.roots_close{
    background-position: -6px -118px;
}

/* æŸ¥è¯¢åˆ—è¡¨ */
.search-list{
    padding: 0;
    position: absolute;
    bottom: 0px;
    top: 50px;
    overflow: auto;
    left: 0;
    right: 0;
    margin: 0;
    padding-top: 10px;
}
.search-list li{
	padding: 7px 20px;
	cursor: pointer;
	margin-bottom: 1px;
	position:relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.search-list li:hover{
	background: #f8f8f8;
	color: #385ab0;
}
.search-list li.active{
	background: #d5dded;
	color: #275db8;
}
.search-list li span{
	display:inline-block;
	vertical-align:middle;
}
.search-list li .delete-btn{
	position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
}
.search-list li .delete-btn:hover{
	color: #ff0000;
}

/*è‡ªä¹‰å®šé¡µç */
.page-info-metro.full{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	background: #f0f2f4;
	padding: 6px 0;
} 
.page-info-position{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
    background-color: #EDEDED;
}

.square-pager .page-data .page-prev,
.square-pager .page-data .page-next{
    border-radius: 5px;
    width: 26px;
    line-height: 26px;
    font-size: 17px;
    padding:0;
    margin-top: 2px;
    background: #fff;
    height: 26px;
}
.square-pager .page-data {
    padding: 3px 10px;
    margin: 0;
    line-height: 26px;
    min-width: 300px;
    text-align: center;
    float: right;
}
.square-pager .page-data .disable {
    cursor: not-allowed;
}

.square-pager .page-data .disable:hover {
    border: 1px solid #cfcfcf !important;
}
.square-pager .page-data .page-prev:hover,
.square-pager .page-data .page-next:hover {
    color: #fff;
    text-decoration: none;
    background: transparent;
    border: 1px solid #cfcfcf;
}
.square-pager .page-data .page-next:hover i:before{
    color:#3a5d9e!important;
}
.square-pager .page-data .page-prev:hover i:before{
    color:#3a5d9e!important;
}

.square-pager .page-data select {
    display: inline-block;
    height: 30px;
    vertical-align: middle;
    border: 1px solid #cfcfcf;
}
.square-pager .page-data .current-page {
    border: none;
    font-size: 13px;
    color: #9ca9c8;
    line-height: 31px;
    margin-left: 10px;
}
.square-pager .page-data .current-page i {
    font-size: 13px;
    color: #9ca9c8;
}
.square-pager .page-data .page-num {
    color: #98abcc;
}
.square-pager .page-data .page-num i {
    font-size: 13px;
}
.page-info-metro .page-data .page-num i {
    top: -3px;
}
.square-pager .page-data .page-next:hover [class^="icon-"]:before{
    color:#fff;
}
.page-wrap{
	width: 315px;
	margin:0 auto;
	position:relative;
	height: 38px;
	float: right;
	overflow: hidden;
}
/*endè‡ªä¹‰å®šé¡µç */
.page-info-metro {
    /* background-color: #EDEDED; */
    /* border-bottom: 1px solid #EDEDED; */
}
.action-btn-group {
    float: left;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 5px 10px 19px;
    position: relative;
    font-size: 16px;
}
.action-btn-group .checkbox-inline {
    margin-right: 40px;
    padding-left: 0;
}

.ztree li span.button.center_docu {
    background-position: 0 0;
}
.ztree{
	position: absolute;
	top: 52px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
	margin-bottom:0;
	border-top: 1px solid #ced0da;
	padding-left: 21px;
	padding-right: 24px;
	padding-top: 8px;
}
.ztree li a {
    height: 35px;
    line-height: 35px;
}
.ztree li a.curSelectedNode {
    color: #385ab0;
    background-color: #efefef;
}
.tree-con span{
	display:inline-block;
	vertical-align:middle;
}
.ztree li span.tree-con{
	margin-left:-18px;
}
.camera-icon{
	width: 16px;
	height: 10px;
	background:url(/efacecloud/images/device-icon.png);
	background-position: -39px -3px;
}
.curSelectedNode .camera-icon{
	background-position: -75px -3px;
}

.btn-i-t {
    background: #fff;
    padding: 8px 16px;
    width: 80%;
    max-width: 110px;
    margin-bottom: 9px;
    border-radius: 4px;
    border-color: #b2b2b2;
}
.btn-i-t:hover{
	border-color:#385ab0;
    background: #fff;
    color: #385ab0;
}
.blue-btn{
	background:#1558BA;
	color:#fff;
}
.blue-btn:hover{
	background:#1d6bde;
	color:#fff;
}