<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>路人库检索</title>
<link rel="stylesheet" type="text/css" href="/ui/plugins/font-images/font.css" />
<link rel="stylesheet" type="text/css" href="/ui/plugins/bootstrap4.0/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/gis/css/suntekmap_spy.css">
<link rel="stylesheet" type="text/css" href="/efacecloud/css/common.css" />
<link rel="stylesheet" type="text/css" href="/efacecloud/css/library/faceCaptureList.css" />
</head>
<body style="overflow: hidden">
	<div class="pager-wrap" container="scroll" id="faceCollectionList"
		ui-control="listview" ui-service="face/capture/query"
		ui-template="faceTemplate" ui-parameters="queryParams"
		ui-options="uiOptions">
		<div class="pager-content">
			<div class="page-title">
				<span>路人库检索</span>
			</div>
			<div class="top-box">
				<div class="photo-tools">
					<div class="top-pic-box">
						<div class="img-wrap">
							<img id="filterImg" src="/efacecloud/images/noPhoto2.png"
								foruploadimg="uploadImg,picBtn"> <input
								class="file-style searchImgButton" type="file" id="uploadImg"
								name="uploadImg" issearch=true />
						</div>
						<ul>
							<li class="re-upload"><i class="icon-image2"></i> <input
								class="file-style searchImgButton" type="file" id="picBtn"
								name="picBtn" issearch=true /></li>
							<li class="del-pic" id="deleteImgBtn"><i class="icon-trash"></i></li>
							<li class="edit-pic" id="editImgBtn"><i class="icon-pencil3"></i></li>
						</ul>
					</div>
					<!--<ul class="bottom-pic-bar hide" id="thresholdValidate">
			               <li><i class="icon-search4"></i>阈值<input type="text" value="60" id="threshold" ui-validate="{pattern:'required,integer',max:100,min:1}" ui-vtext="阈值应为1-100的整数"></li>
			           </ul>-->
				</div>
				<div class="filter-view">
					<dl class="filter-bar hide">
						<dd class="filter-bar-search">
							<div class="fifler-group mr5">
								<div class="search-box upload-img" clearsearchkey="true">
									<input class="search-input" type="text" id="searchText"
										placeholder="请输入设备名称、地点" maxlength="50"> <span
										class="icon-search2" id="searchBtn"></span>
								</div>
							</div>
						</dd>
					</dl>
					<dl class="filter-bar">
						<dt class="filter-arrt">抓拍时间：</dt>
						<dd class="filter-tag ">
							<div class="tagslist timelist" id="timeTagList">
									<span class="tag-item active tagsTime" time-control="jt">今天</span>
									<span class="tag-item tagsTime" time-control="zt">昨天</span> 
									<span class="tag-item tagsTime" time-control="bz">本周</span>
									<span class="tag-item tagsTime" time-control="by">本月</span>
									<span class="tag-item tagsTime" time-control="nW">近7天</span> 
									<span class="tag-item tagsTime" time-control="nM">近30天</span> 
									<span class="tag-item tagsTime" time-control="zdy">自定义</span>
								<div class="opera-group">
									<div class="time-control-item">
										<input class="time-control" id="beginTime" readonly
											type="text"> <i></i>
									</div>
									<div class="time-control-item">
										<input class="time-control" id="endTime" readonly type="text">
										<i></i>
									</div>
								</div>
							</div>
						</dd>
					</dl>
					<dl class="filter-bar" id="carPlate">
						<dt class="filter-arrt">感知设备：</dt>
						<dd class="filter-tag pt3">
							<!-- <input class="device-name" type="text" name="country" id="deviceNames" readonly="readonly" />
						<input type="hidden" id="orgCode">
						<span class="select-place" id="deviceListBtn" style="width: initial;padding: 0 10px;"><i class="icon-list22"></i></span>
						<span class="select-place" id="locate"><i class="icon-locate"></i> 感知设备</span> -->


							<div class="dropdown-list">
								<div class="dropdown-list-text">
									<span class="list-title" id="deviceNames"></span> <input
										type="hidden" id="orgCode"> <input type="hidden"
										id="orgCodeInt"> <a class="dropdown hide"> <i
										class="icon-arrow-down8"></i>
									</a>
								</div>
								<div class="dropdown-menu">
									<ul class="list-con" id="deviceNameList">
										<!-- <li>
										<a>
											<span class="deviceName">广东省</span>
											<span class="removeBtn operate-btn">×</span>
										</a>
									</li> -->
									</ul>
								</div>
							</div>
							<span class="select-place" id="locate"><i
								class="icon-locate"></i> 感知设备</span>

							<!-- <div class="ov p0 dropdown-tree form-control treetwo" id="orgTree" name="orgTree" type="dropdown-tree" 
				         ui-control="dropdowntree" ui-service="face/common/getFaceDetect" ui-options="orgTreeOpts"></div>
			            <span class="select-place" id="locate"><i class="icon-locate"></i> 卡口选择</span>
			            <input type="hidden" id="orgCode"> -->
						</dd>
					</dl>
					<dl class="filter-bar clearfix arithmetic" id="arithmetic">
						<dt class="filter-arrt">算法：</dt>
						<div class="arithmetic-item">
							<div class="arithmetic-min arithmetic-tools all">
								<span>综合</span>|<i></i>
							</div>
							<div class="arithmetic-max">
								<div class="arithmetic-header clearfix">
									<div class="arithmetic-name fl">综合</div>
									<div class="arithmetic-input fr">
										<input type="text" algo_type="-1"
											ui-validate="{pattern:'required,integer',max:99,min:1}"
											ui-vtext="综合" value="60">
									</div>
								</div>
								<div class="arithmetic-btn"></div>
							</div>
						</div>
						<script id="ALGTemplate" type="x-tmpl">
                        <div class="arithmetic-item">
                            <div class="arithmetic-min arithmetic-tools"><span>{%=o.ALGORITHM_NAME%}</span>|<i></i></div>
                            <div class="arithmetic-max">
                                <div class="arithmetic-header clearfix">
                                    <div class="arithmetic-name fl">{%=o.ALGORITHM_NAME%}</div>
                                    <div class="arithmetic-input fr">
                                        <input type="text" algo_type="{%=o.ALGORITHM_ID%}" ui-validate="{pattern:'required,integer',max:99,min:1}" ui-vtext="{%=o.ALGORITHM_DESC%}" value="60">
                                    </div>
                                </div>
                                <div class="arithmetic-btn"></div>
                            </div>
                        </div>
                    </script>
					</dl>
					<dl class="filter-bar">
						<dt class="filter-arrt">排序：</dt>
						<dd class="filter-tag">
							<div class="tagslist" id="sortList">
								<span class="tag-item px-item barItem active" type="timeSort" attr-type="time" attr-arc="timeDesc">时间
									<i class="time-asc-icon px-icon arcIcon hide" title="时间正序"></i>
									<i class="time-desc-icon px-icon descIcon" title="时间降序"></i>
								</span>
								<span class="tag-item px-item barItem" type="scoreSort" attr-type="similar">
									相似度<i class="simialr-icon px-icon"></i>
								</span>
							</div>
						</dd>
					</dl>

					<button class="btn-confirm btn" id="confirmSearch">确认检索</button>
				</div>
			</div>
			<div class="page-info-metro full">
				<div class="action-btn-group">
					<label class="checkbox-inline">
						<input type="checkbox" id="checkAll" listview-checkall="">全选
					</label>
					<span class="tabs-box clearfix">
						<span class="tab-item fl card-module active module" title="卡片展示" attr-type="card">
							<i class="card-module-icon module-icon" ></i>
						</span>
						<span class="tab-item fl table-module module" title="列表展示" attr-type="table">
							<i class="table-module-icon module-icon"></i>
						</span>
					</span>
					<a class="btn btn-i-t" id="freqAnalysisBtn">
						<span class="btn-icon import-icon"></span>
						<span>频次分析</span>
					</a>
					<a class="btn btn-i-t" id="exportPersonalBtn" title="最大支持导出1000条数据"> <span class="btn-icon export-icon"></span>
						<span>导出</span>
					</a>
					<a class="btn btn-i-t" id="gjSearch" > 
						<span class="btn-icon gjsearch-icon"></span>
						<span>轨迹查看</span>
					</a>
					
				</div>
				<div class="page-wrap">
					<div class="page-info-metro square-pager">
						<div class="page-data tc pageData hide" listview-page="">
							<a class="page-prev fl disable" listview-prev-btn="" href="#"><i
								class="icon-arrow-left7"></i></a> <span class="page-num">共有<i
								class="page-num" listview-counts="">0</i>条记录
							</span> <a class="current-page"><i listview-current="">1</i>/<i
								listview-total="">1</i></a> <a class="page-next fr"
								listview-next-btn="" href="#"><i class="icon-arrow-right7"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="page-con p0">
				<div class="library-info p20 listviewImgBox" id="cardBox">
					<div
						class="tilelist vertical ver-caselist two-pictrues-small checkbox listBox " >
						<!-- checkbox 类做选择 -->

						<script id="faceTemplate" type="text/x-tmpl">
						<div class="list-node-wrap" id="">
				 		<dl class="list-node">
							<dt class="node-img compare-img" attrimg="doublezoom">
								<span class="compare-large">
									<img src="{%=o.PIC%}" zoom-url="{%=o.PIC%}" style="width:100%">
									<em>原图</em>
								</span>
								<span class="compare-small ml0">
									<img src="{%=o.OBJ_PIC%}" zoom-url="{%=o.OBJ_PIC%}">
									<em>抓拍图片</em>
								</span>
								{% if(o.SCORE!=""&&typeof o.SCORE!="undefined"){ %}
									<b class="similar color-blue" key="similar">{%=o.SCORE%}%</b>
								{% } %}
							</dt>
					  		<dd class="node-text mt10">
								<input type="checkbox" listview-check="" class="checkbox-opacity hide nodeCheck">
					   			<p class="similar-name"><label>地点：</label><span title="{%=renderNullToNotKnow(o.DEVICE_ADDR)%}">{%=renderNullToNotKnow(o.DEVICE_ADDR)%}</span></p>
					   			<p><label>时间：</label><span title="抓拍时间：{%=renderNullToNotKnow(o.JGSK)%}">{%=renderNullToNotKnow(o.JGSK)%}</span></p>
					   			<p><label>设备名称：</label><span title="{%=renderNullToNotKnow(o.DEVICE_NAME)%}">{%=renderNullToNotKnow(o.DEVICE_NAME)%}</span></p>
								<p><label>行政区域：</label><span title="{%=renderNullToNotKnow(o.ORG_NAME)%}">{%=renderNullToNotKnow(o.ORG_NAME)%}</span></p>
					   			<p><label>注册状态：</label><span title="{%=o.RLTZ == '' ? '失败' : '成功'%}">{%=o.RLTZ == '' ? '失败' : '成功'%}</span></p>
					   			<p><label>算法类型：</label><span title="{%=o.ALGORITHM_NAME?o.ALGORITHM_NAME:'未知'%}">{%=o.ALGORITHM_NAME?o.ALGORITHM_NAME:'未知'%}</span></p>
								<div class="btn-group fr">
								    <a class="btn-i-t btn-xs verification-search" title="身份核查" url="{%=o.OBJ_PIC%}">
										<i class="btn-icon verification-icon"></i>
									</a>
									<a class="btn-i-t btn-xs trajectory-search" title="轨迹分析" url="{%=o.OBJ_PIC%}">
										<i class="btn-icon trajectory-icon"></i>
									</a>
									<a fileUrl="{%=o.OBJ_PIC%}" bigImg="{%=o.PIC%}" class="btn-i-t btn-xs searchBtn search-btn" title="搜索">
										<i class="btn-icon search-icon"></i>
									</a>
									<a class="btn-i-t btn-xs collectionBtn" ref="/efacecloud/page/library/collectionFolder.html?fileType=1&deviceId={%=o.DEVICE_ID%}&deviceName={%=o.DEVICE_NAME%}&infoId={%=o.INFO_ID%}&pic={%=o.PIC%}&objPci={%=o.OBJ_PIC%}&jgsj={%=o.JGSK%}" title="收藏">
										<i class="btn-icon collection-icon"></i>
									</a>
									<a fileUrl="{%=o.OBJ_PIC%}" 
										LATITUDE="{%= o.LATITUDE %}"
										LONGITUDE="{%= o.LONGITUDE %}"
										attr-time="{%=renderNullToNotKnow(o.JGSK)%}" 
										attr-addr="{%=renderNullToNotKnow(o.DEVICE_ADDR)%}" 
										class="btn-i-t btn-xs locationBtn location-btn" 
										ref="/efacecloud/page/library/selectMapAddr.html" title="定位">
										<i class="btn-icon location-icon"></i> 
									</a>
								</div>		
					  		</dd>
						</dl>
						</div>
					</script>
					
					</div>
				</div>
				<div id="tableBox" class="table-wrap hide">
					
		            <table class="table listBox" cellspacing="0" cellpadding="0">  
		                <thead>             
		                    <tr> 
		                    	<th class="tc" style="width: 30px;"></th>
		                    	<th class="tc clearfix" style="width: 140px;">
		                    		<span class="pic-text fl tc ">原图</span>
		                    		<span class="obj-text fr tc">抓拍图</span>
		                    	</th>
		                    	<th class="tc hide" style="width: 50px;"></th>
		                    	<th class="w10 tc"><span>地点</span></th>      
			                    <th class="w10 tc"><span>时间</span></th> 
			                    <th class="w10 tc"><span>设备名称</span></th>      
			                    <th class="w10 tc"><span>行政区域</span></th> 
			                    <th class="w5 tc"><span>注册状态</span></th>      
			                    <th class="w10 tc"><span>算法类型</span></th> 
			                    <th class="tc" style="width: 422px;"><span>操作</span></th> 
				            </tr>
			            </thead>
						<tbody class="listviewImgBox">
							<script id="faceTableTemplate" type="x-tmpl">
								<tr>
									<td class="tc" style="width: 30px;">
										<input type="checkbox" listview-check="" class="checkbox-opacity tableCheck">
									</td>
									<td class="tr clearfix" style="width: 140px; position:relative;" attrimg="doublezoom">
										<img src="{%=o.PIC%}" zoom-url="{%=o.PIC%}" class="pic-img fl">
										<img src="{%= o.OBJ_PIC %}" class="obj-img fr">
										{% if(o.SCORE!=""&&typeof o.SCORE!="undefined"){ %}
										<b class="similar color-blue" key="similar" style="right: 40px;">{%=o.SCORE%}%</b>
										{% } %}
									</td>
									<!-- <td style="width: 50px;" attrimg="doublezoom">
										<img src="{%=o.PIC%}" class="hide">
										<img src="{%=o.OBJ_PIC%}">
									</td>  -->
									<td class="tc" title="{%=renderNullToNotKnow(o.DEVICE_ADDR)%}">{%=renderNullToNotKnow(o.DEVICE_ADDR)%}</td>
									<td class="tc" title="{%=renderNullToNotKnow(o.JGSK)%}">{%=renderNullToNotKnow(o.JGSK)%}</td>
									<td class="tc" title="{%=renderNullToNotKnow(o.DEVICE_NAME)%}">{%=renderNullToNotKnow(o.DEVICE_NAME)%}</td>
									<td class="tc" title="{%=renderNullToNotKnow(o.ORG_NAME)%}">{%=renderNullToNotKnow(o.ORG_NAME)%}</td>
									<td class="tc" title="{%=o.RLTZ == '' ? '失败' : '成功'%}">{%=o.RLTZ == '' ? '失败' : '成功'%}</td>
									<td class="tc" title="{%=o.ALGORITHM_NAME?o.ALGORITHM_NAME:'未知'%}">{%=o.ALGORITHM_NAME?o.ALGORITHM_NAME:'未知'%}</td>
									<td class="tc" style="width: 422px;">
										<ul class="btn-group-icons list-inline">
											<li class="verification-search" url="{%=o.OBJ_PIC%}"><b><i class="btn-icon verification-icon"></i>身份核查</b></li>
											<li class="trajectory-search"  url="{%=o.OBJ_PIC%}"><b><i class="btn-icon trajectory-icon"></i>轨迹分析</b></li>
											<li class="searchBtn search-btn search-list" fileUrl="{%=o.OBJ_PIC%}" bigImg="{%= o.PIC %}"><b><i class="btn-icon search-icon"></i>搜索</b></li>
											<li class="collectionBtn collection" ref="/efacecloud/page/library/collectionFolder.html?fileType=1&deviceId={%=o.DEVICE_ID%}&deviceName={%=o.DEVICE_NAME%}&infoId={%=o.INFO_ID%}&pic={%=o.PIC%}&objPci={%=o.OBJ_PIC%}&jgsj={%=o.JGSK%}" title="收藏"><b><i class="btn-icon collection-icon"></i>收藏</b></li>
											<li class="locationBtn location-li" fileUrl="{%=o.OBJ_PIC%}" 
												LATITUDE="{%= o.LATITUDE %}"
												LONGITUDE="{%= o.LONGITUDE %}"
												attr-time="{%=renderNullToNotKnow(o.JGSK)%}" 
												attr-addr="{%=renderNullToNotKnow(o.DEVICE_ADDR)%}" 
												ref="/efacecloud/page/library/selectMapAddr.html" title="定位"><b><i class="btn-icon location-icon"></i>定位</b></li>
										</ul>
									</td>
								</tr>
							</script>
						</tbody>                                                                                            
			        </table>
				</div>
			</div>
			<div class="frame-form-full">
				<iframe class="full-screen" id="frameFormView" frameborder="0"></iframe>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="/ui/plugins/jquery.min.js"></script>
<script type="text/javascript" src="/ui/plugins/eapui/eapui.js"></script>
<script type="text/javascript" src="/ui/plugins/ajaxfileupload.js"></script>
<script type="text/javascript" src="/ui/plugins/bootstrap3.3/js/bootstrap.js"></script>
<script type="text/javascript" src="/ui/plugins/datetimepicker/WdatePicker.js"></script>
<script type="text/javascript" src="/ui/plugins/ztree/jquery.ztree.all-3.5.js"></script>
<script type="text/javascript" src="/gis/js/suntekmapAPI.js"></script>
<script type="text/javascript" src="/efacecloud/js/common.js"></script>
<script type="text/javascript" src="/efacecloud/js/specialUpload.js"></script>
<script type="text/javascript" src="/ui/plugins/bootstrap4.0/js/photoZoom.js"></script>
<script type="text/javascript" src="/efacecloud/js/largeScreen/faceCaptureListScreen.js"></script>
</html>
