@charset 'utf-8';
.form-group-wrap .control-label {
    width: auto;
}
.form-con .form-group .threshold {
    width: 80px;
}
.form-con .form-control {
    border-color: #E6E6E6;
    border-radius: 5px;
    height: 32px;
}
.form-group-wrap {
    margin-left: 162px;
}
.li-unit .dropdown-tree .dropdown-tree-text{
	border: 1px solid #E6E6E6 ;
}
.form-con .li-unit .form-control{
	border: none;
}
.disabled{
	cursor: not-allowed !important;
    background-color: #eeeeee !important;
    opacity: 1 !important;
}