<!DOCTYPE html>
<html lang="en" class="full-screen">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>三非人脸告警</title>
    <link rel="stylesheet" type="text/css" href="/ui/plugins/font-images/font.css" />
    <link rel="stylesheet" type="text/css" href="/ui/plugins/bootstrap4.0/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/efacecloud/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/efacecloud/css/alarm/alarmCommon.css" />
</head>

<body>
 <div class="pager-wrap p0" id="tabList" ui-control="listview"
                    ui-service="face/dispatchedAlarm/illegalForeignerAlarmGrouping" ui-template="listTemplate"
                    ui-parameters="queryParamsList" ui-options="{toPage: true}">
 	<div class="pager-content pt0">
                    <!-- 筛选菜单 -->
                    <div class="filter-view clearfix">
                        <dl class="filter-bar search-bar">
                            <dd class="filter-bar-search">
                                <div class="fifler-group mr5">
                                    <div class="search-box">
                                        <input class="search-input searchCon" type="text" placeholder="请输入姓名、证件号码"
                                            maxlength="20"> <span class="icon-search2 searchBarBtn"></span>
                                    </div>
                                </div>
                            </dd>
                        </dl>
                        <dl class="filter-bar">
                            <dt class="filter-arrt">相似度阈值：</dt>
                            <dd class="filter-tag pt2" id="thresholdValidateAll">
                                <input class="form-control search-similar searchSimilarConAll"
                                    placeholder="请输入1-100之间的整数" ui-validate="{pattern:'integer',max:100,min:1}"
                                    ui-vtext="阈值应为1-100的整数">
                            </dd>
                        </dl>
                        <dl class="filter-bar">
                            <dt class="filter-arrt">告警时间：</dt>
                            <dd class="filter-tag ">
                                <div class="tagslist timelist" id="timeTagList">
                                    <span class="tag-item tagsTime active" time-control="jt">今天</span>
                                    <span class="tag-item tagsTime" time-control="zt">昨天</span>
                                    <span class="tag-item tagsTime" time-control="bz">本周</span>
                                    <span class="tag-item tagsTime " time-control="by">本月</span>
                                    <span class="tag-item tagsTime" time-control="nW">近7天</span>
                                    <span class="tag-item tagsTime byzdy" time-control="nM">近30天</span>
                                    <span class="tag-item tagsTime" time-control="zdy">自定义</span>
                                    <div class="opera-group">
                                        <div class="time-control-item">
                                            <input class="time-control" id="beginTime" readonly type="text"> <i></i>
                                        </div>
                                        <span>-</span>
                                        <div class="time-control-item">
                                            <input class="time-control" id="endTime" readonly type="text">
                                            <i></i>
                                        </div>
                                        <button class="btn btn-i-t zdyTimeBtn hide">确定</button>
                                    </div>
                                </div>
                            </dd>
                        </dl>

                        <dl class="filter-bar" id="carPlate">
                            <dt class="filter-arrt">感知设备：</dt>
                            <dd class="filter-tag pt3">

                                <div class="dropdown-list">
                                    <div class="dropdown-list-text">
                                        <span class="list-title" id="deviceNames_1"></span>
                                        <input type="hidden" id="orgCode_1">
                                        <a class="dropdown hide"> <i class="icon-arrow-down8"></i></a>
                                    </div>
                                    <div class="dropdown-menu">
                                        <ul class="list-con" id="deviceNameList_1" index="1"></ul>
                                    </div>
                                </div>
                                <span class="select-place" id="locate_1"><i class="icon-locate"></i>感知设备</span>
                            </dd>
                        </dl>

                        <dl class="filter-bar filter-half-bar">
                            <dt class="filter-arrt">排序：</dt>
                            <dd class="filter-tag">
                                <div class="tagslist tagItmeList" id="sortListAll">
                                    <span class="tag-item active" val="timeSort">时间</span>
                                    <span class="tag-item" val="scoreSort">相似度</span>
                                </div>
                            </dd>
                        </dl>




                        <dl class="filter-bar filter-half-bar">
                            <dt class="filter-arrt">是否在逃：</dt>
                            <dd class="filter-tag">
                                <div class="tagslist tagItmeList" id="ztFilterAll">
                                    <span class="tag-item active tagItem" val="">全部</span>
                                    <span class="tag-item tagItem" val="1">是</span>
                                    <span class="tag-item tagItem" val="0">否</span>
                                </div>
                            </dd>
                        </dl>
                        <dl class="filter-bar filter-half-bar">
                            <dt class="filter-arrt">是否已抓捕：</dt>
                            <dd class="filter-tag">
                                <div class="tagslist tagItmeList" id="captureFilterAll">
                                    <span class="tag-item active tagItem" val="">全部</span>
                                    <span class="tag-item tagItem" val="1">是</span>
                                    <span class="tag-item tagItem" val="0">否</span>
                                </div>
                            </dd>
                        </dl>
                        <dl class="filter-bar filter-half-bar">
                            <dt class="filter-arrt"><span class="flyName"></span>比中：</dt>
                            <dd class="filter-tag">
                                <div class="tagslist tagItmeList" id="zfFilter">
                                    <span class="tag-item active tagItem" val="">全部</span>
                                    <span class="tag-item tagItem" val="1">是</span>
                                    <span class="tag-item tagItem" val="0">否</span>
                                </div>
                            </dd>
                        </dl>




                        <dl class="filter-bar filter-half-bar">
                            <dt class="filter-arrt">处置状态：</dt>
                            <dd class="filter-tag">
                                <div class="tagslist tagItmeList" id="alarmHandleAll">
                                    <span class="tag-item active tagItem" val="">全部</span>
                                    <span class="tag-item tagItem" val="0">未签收</span>
                                    <span class="tag-item tagItem" val="1">已签收</span>
                                    <span class="tag-item tagItem" val="2">未反馈</span>
                                    <span class="tag-item tagItem" val="3">已反馈</span>
                                </div>
                            </dd>
                        </dl>

                        <dl class="filter-bar filter-half-bar">
                            <dt class="filter-arrt">比中类型：</dt>
                            <dd class="filter-tag">
                                <div class="tagslist tagItmeList" id="matchType">
                                    <span class="tag-item active tagItem" val="">全部</span>
                                    <span class="tag-item tagItem" val="0">人脸</span>
                                    <span class="tag-item tagItem" val="1">身份</span>
                                </div>
                            </dd>
                        </dl>

                        <dl class="filter-bar">
                            <dt class="filter-arrt">确认状态：</dt>
                            <dd class="filter-tag">
                                <div class="tagslist tagItmeList" id="confirmStatus">
                                    <span class="tag-item active tagItem" val="">全部</span>
                                    <span class="tag-item tagItem" val="1">准确</span>
                                    <span class="tag-item tagItem" val="0">不准确</span>
                                    <span class="tag-item tagItem confirmzdy" val="3">已确认</span>
                                </div>
                            </dd>
                        </dl>
	                    <button class="btn-confirm btn" id="confirmAllSearch">确认检索</button>
                    </div>




                    <div class="page-info-metro page-info-metro-all square-pager full">
                        <p class="zt-tips ml10">(<i class="zt-icon-small"></i>表示此人在追逃中)</p>
                        <div class="action-btn-group ">
                            <label class="checkbox-inline"><input type="checkbox" id="checkAll"
                                    listview-checkall="">全选</label>
                            <a class="btn btn-i-t" id="freqAnalysisBtn">
                                <span class="btn-icon import-icon"></span> <span>频次分析</span>
                            </a>
                            <a class="btn btn-i-t" title="最大支持导出前1000条数据" id="exportAll">
                                <i class="btn-icon export-icon"></i> <span>导出</span>
                            </a>
                            <a class="btn btn-i-t" id="freshBtnAll"> <i class="btn-icon fresh-icon"></i> <span>刷新</span>
                            </a>
                            <a class="btn btn-i-t sureAlarmBtn hide">
		                        <span class="btn-icon and-set-icon"></span>
		                        <span>比中批量确认</span>
		                    </a>
                            <a class="btn btn-i-t hide" id="toHisBtn"> <i class="btn-icon morealarm-icon"></i>
                                <span>更多历史告警</span>
                            </a>
                        </div>
                        <div class="page-data fr" listview-page="">
                            <a class="page-prev fl disable" listview-prev-btn="" href="#"><i
                                    class="icon-arrow-left7"></i></a>
                            <span class="page-num">共有 <i class="page-num" listview-counts="">0</i>条记录,</span>
                            <a class="current-page"><i listview-current="">1</i>/<i listview-total="">1</i></a>
                            <a class="page-next fr disable" listview-next-btn="" href="#"><i
                                    class="icon-arrow-right7"></i></a>
                        </div>
                        <p class="zt-tips fr mr10 ml10">告警总数：<b class="red" id="alarmTotalAll">0</b></p>
                    </div>





                    <!-- list -->
                    <div class="tilelist vertical checkbox listviewImgBox tmplbox">
                        <!-- repeat -->
                        <script id="listTemplate" type="x-tmpl">
                            <div class="list-node-wrap" obj_id="{%=o.OBJECT_ID%}" person-name="{%= renderNullToNotKnow(o.PERSON_NAME) %}" pic = "{%= renderImg(o.TEMPLET_IMG) %}" personId="{%= o.OBJECT_ID %}" identityNum="{%= o.IDENTITY_ID %}" rpID = "{%= o.OBJECT_ID %}" person-tag-name="{%= o.PERSON_TAG_NAME %}" person-tag-code="{%= o.PERSON_TAG %}" birthday="{%= renderSex(o.BIRTHDAY) %}" present-address="{%= renderSex(o.PRESENT_ADDRESS) %}" sex="{%= renderSex(o.SEX) %}" identity-id="{%= o.IDENTITY_ID %}" tagCode ="{%= o.PERSON_TAG %}" telephone="{%= o.TELEPHONE %}"
                            >
                                {% var extendInfo = o.OBJECT_EXTEND_INFO && JSON.parse(o.OBJECT_EXTEND_INFO), flag = extendInfo && extendInfo.ESCAPEE_FLAG; %}
                                {% if(flag && parseInt(flag) == 1) { %}
                                    <i class="zt-icon-big"></i>
                                {% } else if(flag && parseInt(flag) == 2) { %}
                                    <i class="zt-icon-what"></i>
                                {% } %}
                                <dl class="list-node oh picMessage activitydata" style="min-height: 345px;" data-ACTIVITY_NAME="{%=o.ACTIVITY_NAME%}" data-ACTIVITY_TIME="{%=o.ACTIVITY_TIME%}" data-ACTIVITY_PLACE="{%=o.ACTIVITY_PLACE%}" data-PURCHASER_NAME="{%=o.PURCHASER_NAME%}" data-PURCHASER_SEAT_NO="{%=o.PURCHASER_SEAT_NO%}" {%= getactivitydata(o)%}>
                                    <dt class="node-img compare-img" title="点击查看告警详情">
                                        <span class="compare-large">
                                            <img src="{%=o.ALARM_IMG%}" class="face">
                                            <em>抓拍图片</em>
                                        </span>
                                        <span class="ml0 compare-small">
                                            <img src="{%=o.TEMPLET_IMG%}" class="">
                                            <em>布控图片</em>
                                        </span> 
										<b class="similar {%=renderColor(o.ALARM_LEVEL)%}"  {%= (extendInfo && extendInfo.CHECK_IDENTITY_MSG) ? 'style="display:none"' : '' %} key="similar">{%=o.SCORE%}%</b>
                                    </dt>
                                    <dd class="node-text mt10 {%= (isBlack && o.THIRDIMPL_NAME == 'YITU')?'fly-bg-wjr':(o.FS_HIT==1 ?'fly-bg' : "") %} {%= (extendInfo && extendInfo.CHECK_IDENTITY_MSG) ? 'identity-confirm' : '' %}">
                                        <input type="ch(eckbox" listview-check="" class="checkbox-opacity hide">
                                        <p class="similar-name">
                                            <label>姓名：</label>
                                            <span title="{%=renderNullToNotKnow(o.PERSON_NAME)%}">{%=renderNullToNotKnow(o.PERSON_NAME)%}</span>
                                            {% if(o.STATUS_TXT) { %}
                                            <span class="{%= renderTagColor(o.STATUS_TXT) %} tag">{%= o.STATUS_TXT %}</span>
                                            {% } %}
                                        </p>
                                        <!-- 证件号码：{%=renderNullToNotKnow(o.IDENTITY_ID)%} -->
                                        <p style="width:106%;" picMsg="证件:{%=renderNullToNotKnow(o.IDENTITY_ID)%}"><label>证件：</label><span title="查看四标四实" id="identi" data-zjhm={%= renderNullToNotKnow(o.IDENTITY_ID) %} data-name={%= renderNullToNotKnow(o.PERSON_NAME) %}>{%=renderNullToNotKnow(o.IDENTITY_ID)%}</span></p>
                                        <p picMsg="告警地点:{%=renderNullToNotKnow(o.DEVICE_ADDR)%}"><label>告警地点：</label><span title="{%=renderNullToNotKnow(o.DEVICE_ADDR)%}">{%=renderNullToNotKnow(o.DEVICE_ADDR)%}</span></p>
                                        {% try { var extraInfo = JSON.parse(o.OBJECT_EXTEND_INFO); %}

                                            {% if(extraInfo.POLICE_STATION_INFO && extraInfo.POLICE_STATION_INFO.IS_SHOW == '1') { %}
                                            <p picMsg="当前派出所:{%= extraInfo.POLICE_STATION_INFO.DEPT_NAME %}">
                                                <label>当前派出所：</label>
                                                <span title="{%= extraInfo.POLICE_STATION_INFO.DEPT_NAME %}">{%= extraInfo.POLICE_STATION_INFO.DEPT_NAME %}</span>
                                            </p>
                                            {% } %}

                                        {% } catch(error) { UI.util.debug(error); } %}

                                        {%  if(o.IS_COVER){  %}
                                        <p picMsg="多脸告警:{%=o.IS_COVER%}"><label>多脸告警：</label><span title="多脸告警：{%=o.IS_COVER%}">{%=o.IS_COVER%}</span></p>
                                        {%  }  %}

                                        {%  if(o.CONFIRM_STATUS){  %}
                                        <p picMsg="确认状态:{%=o.CONFIRM_STATUS%}"><label>确认状态：</label><span title="确认状态：{%=o.CONFIRM_STATUS%}">{%=o.CONFIRM_STATUS%}</span></p>
                                        {%  }  %}


                                        <p picMsg="告警时间:{%=renderNullToNotKnow(dateRender(o.ALARM_TIME,19))%}"><label>告警时间：</label><span title="告警时间：{%=renderNullToNotKnow(dateRender(o.ALARM_TIME,19))%}">{%=renderNullToNotKnow(dateRender(o.ALARM_TIME,19))%}</span></p>

                                        <p picMsg="抓拍时间:{%=renderNullToNotKnow(dateRender(o.CAPTURE_TIME,19))%} <span deviceid='{%=o.DEVICE_ID%}' attr-time='{%=o.CAPTURE_TIME%}' class='icon icon-camera5 fr historyVideo' title='查看视频' style='color:#777;font-size:20px;'></span>"><label>抓拍时间：</label><span title="抓拍时间：{%=renderNullToNotKnow(dateRender(o.CAPTURE_TIME,19))%}">{%=renderNullToNotKnow(dateRender(o.CAPTURE_TIME,19))%}</span></p>

                                        <p picMsg="质量分数:{%=renderNullToNotKnow(o.FACE_SCORE)%}"><label>质量分数：</label><span title="质量分数：{%=renderNullToNotKnow(o.FACE_SCORE)%}">{%=renderNullToNotKnow(o.FACE_SCORE)%}</span></p>

                                        <p class="{%= o.REPEATS == 1?"":"openRepeatAll open-repeat"%}" OBJECT_ID="{%= o.OBJECT_ID %}" picMsg="告警频次:{%= o.REPEATS%}"><label>同布控人告警频次：</label><span class="card-num" title="告警频次：{%= o.REPEATS%}"><a style="{%= o.REPEATS == 1?"":"color:#0078d7;"%}">{%= o.REPEATS%} 次</a></span></p>

								<p class='{%= isBlack?"":"hide"%} hide'>
                                    <label>比中状态:</label>
									<span class='switch-wrap'>
                    					<span class='switch-btn switchBtn {%=o.RACE_CONFIRM==1?"active":""%}'>
                    						<span class="circle"></span>
                    					</span>
                    				</span>
                                </p>

                                        <div class="btn-group w100">
                                            <span class="tr">
                                                <a config-control="1" class="btn-i-t btn-xs verification-search hide" title="身份核查" url="{%= o.ALARM_IMG %}"
                                                    identity-id="{%= o.IDENTITY_ID %}" capture-time="{%= o.CAPTURE_TIME %}"
                                                    algo-id="{%= algoID %}">
                                                    身份
                                                </a>
                                                <a config-control="2" class="btn-i-t btn-xs trajectory-searchAll hide" title="轨迹分析" url="{%=o.ALARM_IMG%}" zjhm="{%= o.IDENTITY_ID %}">
                                                    轨迹
                                                </a>
                                                <a config-control="3" class="btn-i-t btn-xs searchBtnAll hide" title="检索" fileUrl="{%=o.ALARM_IMG%}">
                                                    检索
                                                </a>
                                                <a config-control="5" class="btn-i-t btn-xs information-search hide" title="情报获取" window-control="person" window-code="{%=o.IDENTITY_ID%}">
                                                    情报
                                                </a>
                                                <a config-control="6" class="btn-i-t  btn-xs detailBtnAll hide" title="详情" data-zjhm="{%= renderNullToNotKnow(o.IDENTITY_ID) %}" ALARM_ID="{%=o.ALARM_ID%}" alarm-level="{%=o.ALARM_LEVEL%}" 
                                                    isfs="{%=o.FS_HIT%}" name="{%=renderFields(o.FS_NAME)%}" idcard="{%=renderFields(o.FS_IDENTITY_ID)%}" time="{%=renderFields(o.FS_HIT_TIME)%}"
                                                    alarmtime="{%=o.ALARM_TIME%}" objid="{%=o.OBJECT_ID%}" curtime="{%=dateRender(o.ALARM_TIME,19)%}" alarm-img="{%= o.ALARM_IMG %}">
                                                    详情
                                                </a>
                                                <a config-control="7" class="btn-i-t  btn-xs compareBtn hide" title="比对">
                                                    比对
                                                </a>
                                                {% if(!isBlack) { %}
                                                <a config-control="8" class="btn-i-t  btn-xs refreshBtn hide" title="在逃检测" ALARM_ID="{%= o.ALARM_ID %}" IDENTITY_ID="{%= o.IDENTITY_ID %}">
                                                    在逃检测
                                                </a>
                                                {% } %}
                                                <a config-control="9" class="btn-i-t btn-xs btn-more searchPage hide" title="档案 " data-flag="{%=o.IDENTITY_ID%}" >
                                                        档案
                                                </a>
                                                {% if(UI.control.hasPermission('DEFENCE_structuredSearch')) { %}
                                                <a config-control="10" class="btn-i-t btn-xs structuredSearch hide" title="结构化检索" imgUrl="{%=o.FRAME_IMG%}">
                                                   结构化检索
                                                </a>
                                                {% } %}
                                            </span>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                            </script>
                    </div>
                    <!-- list end -->
    </div>
</div>
<div class="frame-form-full">
    <iframe class="full-screen" id="frameFormView" frameborder="0"></iframe>
</div>
</body>
<script type="text/javascript" src="/ui/plugins/jquery.min.js"></script>
<script type="text/javascript" src="/ui/plugins/eapui/eapui.js"></script>
<script type="text/javascript" src="/ui/plugins/bootstrap3.3/js/bootstrap.js"></script>
<script type="text/javascript" src="/ui/plugins/datetimepicker/WdatePicker.js"></script>
<script type="text/javascript" src="/efacecloud/js/common.js"></script>
<script type="text/javascript" src="/efacecloud/js/alarm/sanfeiAlarmList.js"></script>

</html>