@charset 'utf-8';
.page-top {
    line-height: 50px;
    font-size: 15px;
    color: rgb(111, 117, 129);
    border-bottom: 3px solid rgb(58, 93, 159);
    margin-bottom: 10px;
}
.page-top span {
    margin-left: 45px;
}
.page-top span a {
    color: #6f7581;
}
.frequent-time{
	width:50%;
	display:inline-block;
	vertical-align:middle;
	padding: 17px 0px 17px 25px;
	margin: 0;
}