.tagslist li:hover, .tagslist li.active {
	background-color: #4C72D5;
	border-radius: 3px;
	color: #fff;
}

.filter-input-box {
	width: 250px;
	height: 32px;
	padding: 4px 28px 4px 0px;
	color: #ccc;
	text-indent: 5px;
	border: 1px solid #ccc;
	border-radius: 6px;
}

.tagslist .tags-list-item {
	float: left;
	padding: 5px 10px;
	color: #8A8F95;
	cursor: pointer;
	margin: 2px 8px 2px 0px;
	white-space: nowrap;
	border-radius: 3px;
	height: auto;
	line-height: normal;
}

.more {
	height: 32px;
	overflow-y: hidden;
	position: relative;
}

.more.open {
	height: auto;
}

.more .more-tag {
	position: absolute;
	right: 0;
	top: 8px;
	cursor: pointer;
	color: #8A8F95;
	border-left: 1px solid #f0f1f3;
	padding-left: 10px;
}

.tilelist .list-node-wrap {
	height: 335px;
}
.checkBtn{
	float: none;
}
.list-node .btn-group .btn-i-t{
	padding: 4px;
}
